.app {
  padding: 0 20px 0 20px;
}

.form-list {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 20px;
}

.vertical-line {
  width: 1px;
  background-color: black;
  height: 100%;
}

.api-filter {
  border-radius: 16px;
  border: 1px solid grey;
  align-self: start;
  padding: 0 10px 5px 10px;
}

.api-filter input,.api-filter select {
  width: 100%;
}

.paginated-list {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.paginated-list h1,h2,h3,h4,h5,h6 {
  display: inline;
}

.card {
  border-radius: 8px;
  border: 1px groove dimgrey;
  padding: 0 3px 3px 3px;
}

.country-card-timezones {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.country-card-timezone {
  border-radius: 5px;
  background: lightblue;
  padding: 5px 5px 5px 5px;
}

.current-page {
  font-weight: bold;
  color: green;
}